.InfoContainer {
    color: var(--white);
    background: var(--light);
}

.InfoContainer.dark {
    background: var(--black);
}

.InfoWrapper {
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;
}

.InfoRow {
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}

.InfoRow.reversed {
    grid-template-areas: 'col2 col1';
}

.Column1 {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
}

.TextWrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.TopLine {
    color: var(--fuchsia);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.Heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: var(--dark);
}

.Heading.light {
    color: #f7f8fa;
}

.Subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.Subtitle.dark {
    color: var(--dark);
}

.Column2 {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
}

.ImgWrap {
    max-width: 555px;
    height: 100%;
}

.Img {
    width: 100%;
    margin: 0 0 10px 0;
    padding-right: 0;
}

.BtnWrap {
    display: flex;
    justify-content: flex-start;
}

.Button {
    border-radius: 50px;
    background: var(--fuchsia);
    white-space: nowrap;
    padding: 12px 30px;
    color: var(--white);
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.Button.dark {
    background: var(--dark);
}

.Button.big {
    padding: 14px 48px;
    font-size: 20px;
}

.Button:hover {
    transition: all 0.2s ease-in-out;
    background: var(--white);
    color: var(--black);
}

.Button.dark:hover {
    transition: all 0.2s ease-in-out;
    background: var(--fuchsia);
    color: var(--white);
}

/*** RESPONSIVE DESIGN ***/

@media screen and (max-width: 768px) {
    .InfoContainer {
        padding: 100px 0;
    }

    .InfoRow {
        grid-template-areas: 'col1 col1' 'col2 col2';
    }

    .InfoRow.reversed {
        grid-template-areas: 'col1' 'col2';
    }
}

@media screen and (max-width: 480px) {
    .Heading {
        font-size: 32px;
    }
}