/*** IMPORTS ***/
@import "./_navbar.css";
@import "./_hero_section.css";
@import "./_info_section.css";
@import "./_courses.css";
@import "./_footer.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Zero out styles for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Add Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Css Variables */
:root {
    --fuchsia: #ff0077;
    --dark: #010606;
    --white: #ffffff;
    --extra-dark: #0d0d0d;
    --very-dark: #0c0c0c;
    --light: #f9f9f9;
    --black: #000000;
}